body{
  margin: 0;
  padding: 0;
  text-align: center;
}

table, table th, table td {
  border: 2px solid black;
  margin: 50px 30%;
}

td, th {
padding: 1em;
}

button {
  size: medium;
  padding:.5em 1em
}
